{% extends "layout/base" %}

{% block head %}
    {{ parent() }}
    <link href="/css/admin.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}
    {{ pageTitle }} | {{ parent() }}
{% endblock %}

{% block header %}
    {% include "elements/headerAdmin" %}
{% endblock %}

{% block wrapper %}
    <div id="pageHead" class="d-flex">
        <div class="me-auto">
            <h4>{{ pageTitle }}</h4>
        </div>
        {% block headButtons %} {% endblock %}
        
    </div>

    <div id="alert">
        {% block alert %} {% endblock %}
    </div>

    <div id="content">
        {% block content %} {% endblock %}
    </div>
{% endblock %}

