<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
      <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-success" href="/admin/">Главная</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-success" href="/admin/nodes/">Узлы</a>
      </li>
    </ul>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="btn btn-success" href="/admin/connections/">Соединения</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="btn btn-outline-primary" href="/">Вернуться</a>
    </ul>
  </div>
</nav>