<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
        <span>Сайдбар</span>
    </button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto p-2">
            <li class="nav-item">
                <input id="regionalWhAmount" type="number" min="0" placeholder="Кол-во рег. складов">
                <button class="btn" onclick="drawNetwork()"><span>Обновить</span></button>
                <input type="file" id="fileInput" onchange="upload()" name="file-upload">
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="#" role="button">Управление</a>
            </li>
        </ul>
    </div>
</nav>